* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

html, body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  background-color: #fff;
}

img {
  max-width: 100%;
}

.container {
  width: 75%;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

a {
  color: #565656;
}

a:hover {
  color: #7421B0;
}

.simp-txt {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #828282;
}

.btn {
  background: linear-gradient(97.02deg, #7421B0 28.9%, #D08EFF 139.98%);
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  padding: 23px 41px;
  color: #FFFFFF;
  outline: none;
  border: none;
  cursor: pointer;
  transition: filter 0.3s;
}

.btn:hover {
  filter: brightness(1.1);
}

.btn.btn-black {
  display: block;
  margin: auto;
  color: #FFFFFF;
  background: #131313;
  transition: box-shadow 0.2s;
}

.btn.btn-black:hover {
  box-shadow: 0 0 15px -2px #131313;
}

.decoration {
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

.decoration-donut-1 {
  top: 90px;
  left: -5%;
  width: 250px;
  height: 250px;
  background: url('./media/donut-1.png') no-repeat center;
  background-size: contain;
}

.decoration-stripe {
  top: 38%;
  left: -10%;
  width: 120vw;
  height: 650px;
  background: url(./media/stripe-1.png) no-repeat center;
  background-size: contain;
  transform: rotate(-30deg);
}


.main-nav .nav-list {
  padding: 50px 0 60px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .nav-item {

} */

.nav-item .nav-link {
  margin: 0 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* color: #565656; */
}

.nav-logo {
  width: 250px;
  margin: 0;
  margin-right: auto;
  font-size: 0;
}

.mob-menu-burger {
  display: none;
  width: 40px;
  height: 40px;
}

.heading-content {
  display: flex;
}

.heading-desc-cont {
  max-width: 525px;
}

h1.heading-title {
  margin-top: 135px;
  font-weight: 700;
  color: #131313;
}

strong {
  display: inline-block;
  color: #7421B0;
}

.heading-focus {
  position: relative;
  background: rgba(116, 33, 176, 0.16);
  /* #7421B0 */
  display: inline-block;
  padding: 0 6px;
  border: 1px solid #7421B0;
}

.heading-focus::before,
.heading-focus::after {
  content: "";
  display: block;
  width: 103%;
  left: -3px;
  position: absolute;
  height: 11%;
  /* background-color: #7421b0; */
  background: linear-gradient(90deg, #7421b0 0, #7421b0 3%, transparent 3%, transparent 48.5%, #7421b0 48.5%, #7421b0 51.5%, transparent 51.5%, transparent 97%, #7421b0 97%, #7421b0);
  transform: translateY(-50%);
}


p.heading-description {
  margin-top: 37px;
}

.heading-btn {
  margin-top: 57px;
}

.scroll-down {
  display: block;
  width: 46px;
  height: 46px;
  margin-top: 126px;
  text-align: center;
}

.heading-preview-cont {
  position: relative;
  width: 59%;
  margin-left: auto;
  transform: translateX(142px);
}

.heading-content::before {
  position: absolute;
  content: "";
  display: block;
  width: 42%;
  height: 69%;
  /* width: 800px;
  height: 750px; */
  background: linear-gradient(180deg, #7421B0 0%, #D08EFF 100%);
  border-radius: 70px;
  right: 0;
  transform: translateX(100px);
  z-index: -1;
}

.heading-preview-cont img {
  margin-top: 88px;
  border-radius: 5px;
}

.preview-desc {
  position: relative;
  width: 282px;
  top: -5%;
  right: -59%;
  /* 
  position: absolute;
  top: 0; 
  margin-top: 62%;
  right: 8%; */
  padding: 28px 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  background: rgba(196, 196, 196, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  transform: translateX(-50%);
}

.advantages {
  margin-top: 300px;
}

.advantages-naming {
  display: flex;
  gap: 139px;
  justify-content: start;
}

.advantages-title {
  position: relative;
  font-weight: 700;
  color: #131313;
}

.adv-list-3 .advantages-title {
  max-width: 520px;
}

.title-tooltip {
  width: 240px;
  background: rgba(196, 196, 196, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: none;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 8px 24px;
  position: absolute;
  top: -90px;
  left: 24%;

  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828282;
}

.title-tooltip::after {
  content: "";
  position: absolute;
  display: block;
  top: 100%;
  left: 17px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-top-color: rgba(196, 196, 196, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.tooltip-decor {
  content: "";
  position: absolute;
  display: block;
  top: -124px;
  right: 37%;
  width: 59px;
  height: 66px;
  
  background-image: url('./media/tooltip-decor.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.advantages-descr {
  max-width: 570px;
  width: 55%;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #828282;
}

.advantages-descr b {
  color: #131313;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0;
  margin-top: 80px;
  list-style: none;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  padding: 45px;
  padding-top: 50px;
  flex: 1;
  transition: all 0.3s;
}

.advantage-item:hover {
  background: #7421B0;
  box-shadow: 0px 26px 48px -23px #7421B0;
}

.advantage-item .advantage-image {
  display: block;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./media/advantage-1.svg');
}

.list-1 .advantage-item:nth-child(1) .advantage-image {
  background-image: url('./media/advantage-1.svg');
}
.list-1 .advantage-item:nth-child(2) .advantage-image {
  background-image: url('./media/advantage-2.svg');
}
.list-1 .advantage-item:nth-child(3) .advantage-image {
  background-image: url('./media/advantage-3.svg');
}
.list-1 .advantage-item:nth-child(4) .advantage-image {
  background-image: url('./media/advantage-4.svg');
}
.list-1 .advantage-item:nth-child(1):hover .advantage-image {
  background-image: url('./media/advantage-light-1.svg');
}
.list-1 .advantage-item:nth-child(2):hover .advantage-image {
  background-image: url('./media/advantage-light-2.svg');
}
.list-1 .advantage-item:nth-child(3):hover .advantage-image {
  background-image: url('./media/advantage-light-3.svg');
}
.list-1 .advantage-item:nth-child(4):hover .advantage-image {
  background-image: url('./media/advantage-light-4.svg');
}

.list-2 .advantage-item:nth-child(1) .advantage-image {
  background-image: url('./media/advantage-5.svg');
}
.list-2 .advantage-item:nth-child(2) .advantage-image {
  background-image: url('./media/advantage-6.svg');
}
.list-2 .advantage-item:nth-child(3) .advantage-image {
  background-image: url('./media/advantage-7.svg');
}
.list-2 .advantage-item:nth-child(4) .advantage-image {
  background-image: url('./media/advantage-8.svg');
}
.list-2 .advantage-item:nth-child(1):hover .advantage-image {
  background-image: url('./media/advantage-light-5.svg');
}
.list-2 .advantage-item:nth-child(2):hover .advantage-image {
  background-image: url('./media/advantage-light-6.svg');
}
.list-2 .advantage-item:nth-child(3):hover .advantage-image {
  background-image: url('./media/advantage-light-7.svg');
}
.list-2 .advantage-item:nth-child(4):hover .advantage-image {
  background-image: url('./media/advantage-light-8.svg');
}

.list-3 .advantage-item:nth-child(1) .advantage-image {
  background-image: url('./media/advantage-9.svg');
}
.list-3 .advantage-item:nth-child(2) .advantage-image {
  background-image: url('./media/advantage-10.svg');
}
.list-3 .advantage-item:nth-child(3) .advantage-image {
  background-image: url('./media/advantage-11.svg');
}
.list-3 .advantage-item:nth-child(4) .advantage-image {
  background-image: url('./media/advantage-12.svg');
}
.list-3 .advantage-item:nth-child(1):hover .advantage-image {
  background-image: url('./media/advantage-light-9.svg');
}
.list-3 .advantage-item:nth-child(2):hover .advantage-image {
  background-image: url('./media/advantage-light-10.svg');
}
.list-3 .advantage-item:nth-child(3):hover .advantage-image {
  background-image: url('./media/advantage-light-11.svg');
}
.list-3 .advantage-item:nth-child(4):hover .advantage-image {
  background-image: url('./media/advantage-light-12.svg');
}
  
.advantage-title {
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #131313;
  /* transition: color 0.3s; */
}

.advantage-item:hover .advantage-title {
  color: #FFFFFF;
}

.advantages .btn {
  margin-top: 90px;
}

.describe-block {
  position: relative;
  margin-top: 300px;
}

.describe-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 280px;
}

.describe-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: min(15%, 153px);
  /* justify-content: space-between; */
}

.describe-item:nth-child(even) {
  flex-direction: row-reverse;
}

.describe-image-cont {
  position: relative;
  /* filter: drop-shadow(0px 18px 45px rgba(0, 0, 0, 0.13)); */
  /* box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13); */
  border-radius: 10px;
  width: 100%;
  flex-basis: 50%;
}

.describe-image-cont::before {
  content: "";
  display: block;
  position: absolute;
  width: 220%;
  height: 200%;
  background-image: url(./media/describe-decor-1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  transform: translate(-43%, -31%);
}

.describe-item:nth-child(1) .describe-image-cont::before {
  background-image: url(./media/describe-decor-1.png);
  transform: translate(-43%, -31%);
}
.describe-item:nth-child(2) .describe-image-cont::before {
  background-image: url(./media/describe-decor-2.png);
  transform: translate(-7%, -36%);
}
.describe-item:nth-child(3) .describe-image-cont::before {
  background-image: url(./media/describe-decor-3.png);
  transform: translate(-43%, -31%);
}
.describe-item:nth-child(4) .describe-image-cont::before {
  background-image: url(./media/describe-decor-4.png);
  transform: translate(-11%, -27%);
}

.describe-image-cont img{
  filter: drop-shadow(0px 18px 45px rgba(0, 0, 0, 0.13));
  width: 100%;
}

.describe-content {
  max-width: 460px;
  width: 50%;
  flex-shrink: 1;
}

.describe-title {
  font-weight: 700;
  color: #131313;
}

.describe-text {
  margin-top: 40px;
}

.descr-image-text {
  position: relative;
  width: 461px;
  max-width: 80%;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #131313;
  padding: 30px 40px;
  background: rgba(196, 196, 196, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  transform: translate(-50%, -75px);
  left: 50%;
}

.decoration-stripe.str-2 {
  top: 0;
  left: 0;
  transform: translate(-21%, -70%) scaleX(-1);
  width: 120vw;
  background-size: cover;
}

.decoration-stripe.str-3 {
  top: 112%;
  left: 0;
  height: 700px;
  transform: translate(-21%, -70%) scaleX(-1) rotate(341deg);
  width: 120vw;
  background-size: cover;
}

section.functionality {
  position: relative;
}

.container.blured-block {
  display: block;
  position: relative;
  width: 95%;
  background: linear-gradient(1.36deg, rgba(255, 255, 255, 0.5) 0.92%, rgba(255, 255, 255, 0) 61.36%), rgba(194, 166, 241, 0.05);
  border: 2px solid rgba(169, 169, 169, 0.12);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 70px;
  padding: 100px 0 61px;
  margin: 100px auto 0;
}

.func-decor,
.faq-decor {
  position: absolute;
  content: "";
  display: block;
  width: 240px;
  height: 240px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.func-decor.decor-1 {
  top: -5%;
  right: 11%;
  background-image: url('./media/func-decor-1.png');
}
.func-decor.decor-2 {
  top: 19%;
  left: -6%;
  background-image: url('./media/func-decor-2.png');
}
.func-decor.decor-3 {
  width: 500px;
  height: 500px;
  top: 45%;
  right: -12%;
  background-image: url('./media/func-decor-3.png');
}

.container.functionality-content {
  width: 75vw;
}

.functionality-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 90px;
  margin-top: 100px;
}

.functionality-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.functionality-item-img {
  width: 111px;
}

.function-name {
  display: flex;
  font-weight: 500;
  color: #131313;
  margin-top: 50px;
  font-size: 24px;
  margin-bottom: 60px;
}

.function-name .func-number {
  font-size: 36px;
  margin-right: 50px;
}

.function-list-content .simp-txt {
  margin-top: 30px;
}

.howto-block {
  margin-top: 200px;
}

.howto-list {
  margin-top: 100px;
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: baseline;
}

.howto-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: start;
}

.howto-num {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #7421B0;
}

.howto-img-cont {
  position: relative;
  margin-top: 60px;
  width: 100%;
  /* height: 260px; */
  box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  overflow: hidden;
  font-size: 0;
}

.howto-item .howto-img-cont .btn {
  margin: 0;
  padding: 23px 41px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  display: none;
}

.howto-img-cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.howto-img-cont:hover::before {
  backdrop-filter: blur(10px);
}

.howto-img-cont:hover .btn {
  display: block;
}

.howto-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.howto-name {
  margin-top: 40px;
  font-size: 18px;

}

.howto-item .simp-txt {
  font-size: 18px;
  margin-top: 7px;
}

.functionality .btn {
  margin-top: 60px;
}

.container.faq {
  position: relative;
  margin-top: 100px;
}

.faq-title {
  text-align: center;
  margin-bottom: 60px;
}

.faq-list {
  counter-reset: item;
}

.faq-item {
  padding: 50px;
  margin-top: 40px;
  display: flex;

  background: rgba(196, 196, 196, 0.1);
  border: 4px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  overflow: hidden;

  max-height: 215px;
  transition: all 1.7s;
}

.faq-item::before {
  display: inline-block;
  counter-increment: item;
  content: counter(item, decimal-leading-zero) ". ";
  position: absolute;
  top: 50px;
  left: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #7421B0;
}

.faq-item.open {
  max-height: 800px;
}

.faq-content {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin-left: 180px;
  margin-right: 55px;
}

.faq-item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #131313;
}

.faq-item-descr {
  margin-top: 20px;
  position: absolute;
  width: 100%;
  transition: opacity 0.3s;
  opacity: 0;
}

.faq-item.open .faq-item-descr {
  position: relative;
  opacity: 1;
}

.faq-item-btn {
  position: absolute;
  display: block; 
  top: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transform: rotate(0);
  transform-origin: 50% 50%;
  -webkit-tap-highlight-color: transparent;
  will-change: transform;
  transition: transform 0.3s;

  border: none;
  background-color: transparent;
  background-image: url('./media/faq-btn.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.faq-item.open .faq-item-btn {
  transform: rotate(45deg);
}


.faq-decor.decor-1 {
  width: 300px;
  height: 300px;
  top: 190px;
  left: -11%;
  background-image: url('./media/faq-decor-1.png');
}

.faq-decor.decor-2 {
  width: 280px;
  height: 400px;
  top: 390px;
  right: 25%;
  background-image: url('./media/faq-decor-2.png');
}

.faq-decor.decor-3 {
  width: 220px;
  height: 300px;
  top: 800px;
  right: -11%;
  background-image: url('./media/faq-decor-3.png');
}


@media screen and (max-width: 1840px) {
  .advantage-item .advantage-image {
    width: 60px;
    height: 60px;
  }

  .advantage-title {
    font-size: 16px;
  }

  .advantage-item {
    padding: 30px;
    padding-top: 35px;
  }

  .describe-item {
    gap: 50px;
  }

  .describe-image-cont {
    flex-basis: 75%;
  }
  
  .descr-image-text {
    font-size: 14px;
  }

  .function-name .func-number {
    font-size: 28px;
    margin-right: 15px;
  }

  .function-name {
    font-size: 22px;
    margin-bottom: 36px;
  }

  .functionality-list {
    gap: 38px;
  }
}

@media screen and (max-width: 1440px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  p.simp-txt {
    font-size: 16px;
  }

  .heading-desc-cont {
    max-width: 375px;
  } 

  .nav-item:not(.nav-logo) .nav-link {
    margin: 0 15px;
    font-size: 14px;
  }

  .nav-logo {
    width: 180px;
  }

  .advantages {
    margin-top: 120px;
  }

  .advantages.adv-list-3 {
    margin-top: 200px;
  }

  .advantage-item {
    padding: 30px;
    padding-top: 25px;
  }

  .advantage-title {
    font-size: 14px;
  }

  .functionality-title,
  .howto-title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 85%;
  }

  .container.functionality-content {
    width: 85vw;
  }

  h1.heading-title {
    margin-top: 70px;
    font-size: 30px;
  }

  p.simp-txt {
    font-size: 14px;
  }
  /* mobile */
  .heading-desc-cont {
    max-width: 300px;
  }

  .heading-preview-cont {
    transform: translateX(100px);
  }
  
  .advantages-naming {
    gap: 20px;
    justify-content: space-between;
  }

  .advantage-title {
    font-size: 12px;
  }

  .function-name {
    font-size: 20px;
  }

  .function-name .func-number {
    font-size: 24px;
  }

  .functionality-item-img {
    width: 90px;
  }

  .howto-block {
    margin-top: 100px;
  }

  .howto-num {
    font-size: 28px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 960px) {
  .nav-item {
    display: none;
  }

  .mob-menu-burger {
    margin-left: auto;
    display: block;
  }
  /* .preview-desc {
    margin-top: 74%;
    right: -25%;
  } */

  .scroll-down {
    width: 20px;
    height: 20px;
    margin-top: 40px;
  }

  .decoration-stripe {
    top: 30%;
    transform: rotate(-20deg);
  }

  .advantages-list {
    flex-wrap: wrap;
  }

  .advantage-item {
    padding: 60px;
    flex-basis: 45%;
  }
  
  .advantage-title {
    font-size: 18px;
  }

  .describe-list .describe-item {
    flex-direction: column;
  }

  .describe-content {
    display: flex;
    gap: 80px;
    /* flex-wrap: wrap; */
    max-width: none;
    width: 100%;
  }

  .describe-image-cont::before {
    height: 150%;
  }

  .describe-content > div {
    width: 60%;
  }

  .describe-title {
    font-size: 20px;
    width: 155px;
    margin-bottom: 20px;
  }

  .describe-content > div p:first-child {
    margin-top: 0;
  }

  .function-name {
    font-size: 18px;
  }

  .function-name .func-number {
    font-size: 20px;
  }

  .howto-block {
    margin-top: 100px;
  }

  .howto-list {
    margin-top: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    max-width: 440px;
  }

  .howto-img-cont {
    margin-top: 37px;
  }

  .howto-name {
    margin-top: 25px;
  }

  .howto-num {
    font-size: 18px;
    line-height: 21px;
  }

  .function-list-content .simp-txt {
    line-height: 150%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 88%;
  }

  h1.heading-title {
    font-size: 24px;
  }

  p.simp-txt {
    font-size: 12px;
  }

  .btn {
    font-size: 12px;
    padding: 13px 28px;
  }

  .heading-btn {
    margin-top: 30px;
  }

  .main-nav .nav-list {
    padding: 26px 0;
  }

  .heading-preview-cont {
    transform: translateX(25px);
  }

  .decoration-donut-1 {
    display: none;
  }

  .heading-content::before {
    max-height: 500px;
  }

  .preview-desc {
    width: 187px;
    font-size: 12px;
    padding: 15px 25px;
    transform: translateX(-23%);
  }

  .advantages-title {
    font-size: 20px;
  }

  .advantage-title {
    font-size: 18px;
  }

  .describe-text {
    margin-top: 20px;
    font-size: 14px;
  }

  .describe-image-cont img {
    transform: scale(0.85);
  }

  .describe-image-cont::before {
    height: 120%;
  }
  .describe-item:nth-child(1) .describe-image-cont::before {
    transform: translate(-39%, -25%);
  }
  .describe-item:nth-child(2) .describe-image-cont::before {
    transform: translate(-7%, -21%);
  }
  .describe-item:nth-child(3) .describe-image-cont::before {
    transform: translate(-38%, -20%);
  }
    .describe-item:nth-child(4) .describe-image-cont::before {
    transform: translate(-12%, -17%);
  }

  .describe-list {
    gap: 140px;
  }

  .functionality-list {
    gap: 60px;
    flex-direction: column;
  }

  .functionality-item {
    flex-direction: row;
    align-items: start;
  }

  .functionality-item-img {
    margin: 0 80px;
  }

  .function-name {
    margin-top: 0;
  }

  .advantages.adv-list-3 {
    margin-top: 230px;
  }

  .title-tooltip {
    left: 0;
  }

  /* .tooltip-decor {
    right: 50%;
  } */

  .advantages.adv-list-3 .advantages-naming {
    gap: 35px;
  }

  .advantages.adv-list-3 .advantages-naming > *{
    flex: 1;
  }
}

@media only screen and (max-width: 660px) {
  .heading-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .heading-preview-cont {
    transform: translateX(0);
    margin: 0;
    width: 100%;
  }

  .heading-content::before {
    top: 100px;
    right: 0;
    width: 108%;
    transform: translateX(21%);
    height: 37%;
  }

  .heading-preview-cont img {
    margin-top: 40px;
  }

  .preview-desc {
    transform: none;
    right: auto;
    margin: 0 auto;
    margin-top: -23px;
  }

  h1.heading-title,
  p.heading-description,
  .heading-btn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  p.heading-description,
  .heading-btn {
    margin-top: 22px;
  }

  .scroll-down {
    display: none;
  }
  .decoration-stripe {
    height: 250px;
    left: -30%;
    transform: scale(2) rotate(-20deg);
  }

  .advantages {
    margin-top: 60px;
  }

  .advantages-list {
    margin-top: 20px;
  }

  .advantage-item {
    padding: 20px;
    flex-basis: 45%;
  }

  .advantage-item .advantage-image {
    width: 40px;
    height: 40px;
  }

  .advantage-title {
    margin-top: 20px;
    font-size: 12px;
  }

  .advantages-descr {
    width: 100%;
    max-width: 350px;
  }

  .advantages-naming {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .describe-image-cont img {
    transform: scale(1);
  }

  .describe-list {
    gap: 90px;
  }

  .describe-title {
    width: 100%;
    text-align: center;
  }

  .describe-content {
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
  }

  .describe-content > div {
    text-align: center;
    width: 80%;
  }

  .howto-img-cont {
    margin-top: 28px;
  }

  .functionality-title, .howto-title {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  .functionality-list {
    margin-top: 30px;
  }

  .container.blured-block {
    padding: 41px 0 25px;
    border-radius: 35px;
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  .func-decor.decor-1 {
    top: -1.4%;
    width: 80px;
    height: 80px;
  }

  .func-decor.decor-2 {
    left: 7%;
    width: 50px;
    height: 80px;
  }

  .func-decor.decor-3 {
    width: 187px;
    height: 201px;
    top: 41%;
    right: -10%;
  }

  .functionality-item {
    flex-direction: column;
    align-items: center;
  }

  .function-name {
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
  }

  .function-list-content {
    margin-top: 30px;
  }

  .function-list-content .simp-txt {
    text-align: center;
    margin-top: 23px;
  }

  .function-list-content br {
    display: none;
  }

  .advantages.adv-list-3 {
    margin-top: 155px;
  }

  .tooltip-decor {
    right: 60%;
  }
}

@media only screen and (max-width: 420px) {
  /* mobile */
  .advantage-item {
    padding: 26px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
  }

  .advantage-title {
    margin: 0;
    margin-left: 60px;
    font-size: 14px;
  }

  .advantage-item .advantage-image {
    flex-shrink: 0;
  }

  .descr-image-text {
    padding: 25px 30px;
    font-size: 12px;
  }

  .describe-content > div {
    text-align: center;
    width: 100%;
  }

  .howto-num {
    align-self: center;
  }

  .tooltip-decor {
    right: 40%;
  }
}